/* Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222831;
}

button {
  cursor: pointer;
}

/* =================================================================== */

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.name {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.name + h3,
.name + h3 + p {
  font-weight: 500;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.photo {
  display: inherit;
  justify-content: center;
  align-items: center;
}

.photo > img {
  width: 50%;
  height: 50%;
}

.about-container {
  width: 80%;
  padding-top: 1rem;
}

.about {
  font-size: larger;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}

.interview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
  row-gap: 1rem;
}

.interview-container > h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
