/* Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  background: #222831;
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

/* =================================================================== */

/* main container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

/* name style */
.name {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

/* year and age style */
.name + h3,
.name + h3 + p {
  font-weight: 500;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* photo section */
.photo {
  display: inherit;
  justify-content: center;
  align-items: center;
}

.photo > img {
  width: 50%;
  height: 50%;
  box-shadow: rgba(153, 152, 152, 0.19) 0px 10px 20px,
    rgba(142, 142, 142, 0.23) 0px 6px 6px;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 500ms;
}

.photo > img:hover {
  width: 67%;
}

/* about section */
.about-container {
  width: 80%;
  padding-top: 1rem;
}

.about {
  font-size: larger;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  padding: 1rem;
  background-color: #323944;
  border-radius: 0.3rem;
  overflow: hidden;
}

.about::selection {
  background-color: black;
  color: white;
}

/* interview section */
.interview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
  row-gap: 1rem;
}

.interview-container > h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
