/* Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  background: linear-gradient(#191d23, #465162);
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

/* =================================================================== */

/* show move animation */
@keyframes show-move {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* main container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

/* style of name */
.name {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 30px #000;
  animation-name: show-move;
  animation-duration: 990ms;
}

.name::selection {
  background-color: black;
  color: white;
}

/* year and age style */
.name + h3,
.name + h3 + p {
  font-weight: 500;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  animation-name: show-move;
  animation-duration: 990ms;
}

.name + h3::selection,
.name + h3 + p::selection {
  background-color: black;
  color: white;
}

/* photo section */
.photo {
  display: inherit;
  justify-content: center;
  align-items: center;
}

.photo > img {
  width: 50%;
  height: 50%;
  box-shadow: rgba(0, 123, 255, 0.19) 0px 10px 20px,
    rgba(0, 13, 255, 0.23) 0px 6px 6px;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 500ms;
  animation-name: show-move;
  animation-duration: 990ms;
}

.photo > img:hover {
  width: 67%;
}

/* about section */
.about-container {
  width: 80%;
  padding-top: 1rem;
}

.about {
  font-size: larger;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  padding: 1rem;
  background-color: #323944;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: rgba(36, 36, 193, 0.25) 0px 50px 100px -20px,
    rgba(78, 78, 255, 0.3) 0px 0px 40px -30px,
    rgba(5, 124, 244, 0.35) 0px 0px 0px 0px inset;
}

.about::selection {
  background-color: black;
  color: white;
}

/* interview section */
.interview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;
  row-gap: 1rem;
}

.interview-container > h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
